esphome:
  name: spa_9800cp_esp32

esp32:
  board: esp32dev
  framework:
    type: arduino

logger:
  level: WARN

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

api:
ota:

external_components:
  - source:
      type: local
      path: ./esphome-balboa-9800cp
    components: [ balboa_9800cp ]

balboa_9800cp:
  id: spa_bus
  clk_pin: 18
  data_pin: 19
  ctrl_in_pin: 21
  ctrl_out_pin: 22
  gap_us: 8000
  press_frames: 6

sensor:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    water_temp_f:
      name: "Spa Water Temp"

binary_sensor:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    heating:
      name: "Spa Heating"
    standard_mode:
      name: "Spa Standard Mode"

button:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    temp_up:
      name: "Spa Temp Up"
    temp_down:
      name: "Spa Temp Down"
    mode:
      name: "Spa Mode"
