esphome:
  name: spa-9800cp
  platform: ESP32
  board: esp32dev

external_components:
  - source:
      type: https://github.com/Saboral/balboa_spa_9800esphome/
      path: ./external_components

logger:
  level: DEBUG
  
api:

ota:
  - platform: esphome

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

# Core component (pins must match your wiring)
balboa_9800cp:
  id: spa
  clock_pin: 18
  read_pin: 19
  write_pin: 22

sensor:
  - platform: balboa_9800cp
    balboa_id: spa
    water_temperature:
      name: "Spa Water Temperature"
    set_temperature:
      name: "Spa Set Temperature"

text_sensor:
  - platform: balboa_9800cp
    balboa_id: spa
    lcd_display:
      name: "Spa LCD Display"

binary_sensor:
  - platform: balboa_9800cp
    balboa_id: spa
    display_button:
      name: "Spa Display Button Pressed"
    display_bit29:
      name: "Spa Display Bit29"
    display_bit30:
      name: "Spa Display Bit30"
    display_standard_mode:
      name: "Spa Standard Mode"
    display_bit32:
      name: "Spa Display Bit32"
    display_bit33:
      name: "Spa Display Bit33"
    display_bit34:
      name: "Spa Display Bit34"
    display_heater:
      name: "Spa Heater Running"
    display_pump1:
      name: "Spa Pump 1 Running"
    display_pump2:
      name: "Spa Pump 2 Running"
    display_air_blower:
      name: "Spa Air Blower Running"
    display_data_buffer_overflow:
      name: "Spa Display Buffer Overflow"

switch:
  - platform: balboa_9800cp
    balboa_id: spa
    blower:
      name: "Spa Blower"
    pump1:
      name: "Spa Pump 1"
    pump2:
      name: "Spa Pump 2"

button:
  - platform: balboa_9800cp
    balboa_id: spa
    temp_up:
      name: "Spa Temp Up"
    temp_down:
      name: "Spa Temp Down"

number:
  - platform: balboa_9800cp
    balboa_id: spa
    target_temperature:
      name: "Spa Target Temperature"
      min_value: 80
      max_value: 104
      step: 1
