esphome:
  name: spa_9800cp
  platform: ESP8266
  board: nodemcuv2

logger:
  level: WARN

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

api:
ota:

external_components:
  - source:
      type: git
      url: https://github.com/Saboral/balboa_spa_9800esphome
    components: [ balboa_9800cp ]

balboa_9800cp:
  id: spa_bus
  clk_pin: D1
  data_pin: D2
  ctrl_in_pin: D3
  ctrl_out_pin: D4
  frame_bits: 76
  gap_us: 8000
  press_frames: 6

sensor:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    water_temp:
      name: "Spa Water Temp"

button:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    temp_up:
      name: "Spa Temp Up"
    temp_down:
      name: "Spa Temp Down"
    mode:
      name: "Spa Mode"
