esphome:
  name: spa-9800cp-esp32

esp32:
  board: esp32dev
  framework:
    type: arduino

logger:
  level: DEBUG

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

api:

ota:
  - platform: esphome
    
external_components:
  - source:
      type: git
      url: https://github.com/Saboral/balboa_spa_9800esphome/
      ref: d83dc52ba4b6accb795185166591548e2b820445
    components: [ balboa_9800cp ]

balboa_9800cp:
  id: spa
  clk_pin: 18
  data_pin: 19
  ctrl_in_pin: 21
  ctrl_out_pin: 22
  gap_us: 10000
  press_frames: 6

sensor:
  - platform: balboa_9800cp
    balboa_id: spa
    water_temp_f:
      name: "Spa Water Temperature"

text_sensor:
  - platform: balboa_9800cp
    balboa_id: spa
    display:
      name: "Spa Display"

binary_sensor:
  - platform: balboa_9800cp
    balboa_id: spa
    heating:
      name: "Spa Heating"
    pump:
      name: "Spa Pump 1"
    jets:
      name: "Spa Pump 2"
    blower:
      name: "Spa Air Blower"

button:
  - platform: balboa_9800cp
    balboa_id: spa
    temp_up:
      name: "Spa Temp Up"
    temp_down:
      name: "Spa Temp Down"
    mode:
      name: "Spa Mode"