esphome:
  name: spa-9800cp-esp32

esp32:
  board: esp32dev
  framework:
    type: arduino

logger:
  level: DEBUG

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

api:

ota:
  - platform: esphome
    
external_components:
  - source:
      type: git
      url: https://github.com/Saboral/balboa_spa_9800esphome
      ref: main
    components: [ balboa_9800cp ]

balboa_9800cp:
  id: spa_bus
  clk_pin: 18
  data_pin: 19
  ctrl_in_pin: 21
  ctrl_out_pin: 22
  gap_us: 8000
  press_frames: 6

sensor:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    water_temp_f:
      name: "Spa Water Temperature"

text_sensor:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    display:
      name: "Spa Display"

binary_sensor:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    inverted:
      name: "Spa Display Inverted"
    set_heat:
      name: "Spa Set Heat"
    mode_standard:
      name: "Spa Standard Mode"
    heating:
      name: "Spa Heating"
    temp_up_display:
      name: "Spa Temp Up Display"
    temp_down_display:
      name: "Spa Temp Down Display"
    blower:
      name: "Spa Blower"
    pump:
      name: "Spa Pump"
    jets:
      name: "Spa Jets"
    light:
      name: "Spa Light"

button:
  - platform: balboa_9800cp
    balboa_id: spa_bus
    temp_up:
      name: "Spa Temp Up"
    temp_down:
      name: "Spa Temp Down"
    mode:
      name: "Spa Mode"
